[submodule "lib/assert.sh"]
	path = lib/assert.sh
	url = https://github.com/lehmannro/assert.sh.git
[submodule "lib/bash-utils"]
	path = lib/bash-utils
	url = https://github.com/rednammoc/bash-utils.git
